/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[CreatedOn]
      ,[UpdatedOn]
      ,[FirstName]
      ,[LastName]
      ,[IdentityId]
      ,[UserName]
      ,[Email]
      ,[PasswordHash]
      ,[Provider]
      ,[FacebookUrl]
      ,[GitHubUrl]
      ,[GoogleUrl]
  FROM [AuthPoc].[SocialAuth].[Users]